{% extends 'base.html' %}
{% block content %}

        <h2>{{ Konu.title }}</h2><br>
        <p>{{ Konu.description }}</p><br>
        <small>{{ Konu.writer }}</small><br>
            <p>
        <span id="like-count">{{ Konu.likes.count }}</span> kişi beğendi.

        {% if user in Konu.likes.all %}
        <a id="like" href="{% url "like_place" Konu.id %}">Beğenmekten vazgeç</a>
        {% else %}
        <a id="like" href="{% url "like_place" Konu.id %}">Beğen</a>
        {% endif %}
    </p>

     {% if Konu.review_count > 0 %}
        <h3>Reviews</h3>
        {% for review in Konu.review_set.all %}
        <blockquote>
            {{ review.comment }}
            ({{ review.vote }})
            <small>
                {{ review.user.username }}
            </small>
        </blockquote>
        {% endfor %}
    {% endif %}

       <p>
        <a href="{% url "new_review" Konu.id %}">Yorum ekle</a>
    </p>

        <script>

$('#like').on('click', function (event) {
    $.ajax({
        url: $("#like").attr('href'),
        method: 'POST',
        dataType: 'json',
        data: {
          csrfmiddlewaretoken: "{{ csrf_token }}"
        }
    }).done(function (response) {
        $('#like-count').html(response.count);
        if (response.action === 'like') {
            $('#like').html('Beğenmekten vazgeç');
        } else {
            $('#like').html('Beğen');
        }
    });
    event.preventDefault();
});
</script>

{% endblock %}

